<div class="p-shadow-5 p-d-flex p-p-2 p-ai-center">
    <!-- logo -->
    <div class="logo p-mr-3 p-ai-center">
        <!-- <img src="assets/Documents-icon.png"> --> 
    </div>
    
    
    <div>
    <h4 class="p-mx-3">Documenti</h4>
    </div>

    <!-- list button and create new button -->
    <div class="p-mx-auto p-mr-3 p-ml-5 p-pl-5">
        <button pButton pRipple type="button" label="Elenco" class="p-button p-button-info p-jc-middle p-mr-4"></button>
        <button pButton pRipple type="button" label="Nuovo" class="p-button p-button-info"></button>
    </div>

    <!-- account button -->
    <div class="p-ml-auto p-mr-2">
    <button pButton pRipple type="button" label="Account" class="p-button  p-button-info"></button>
    </div>
</div>