@import "primeng/resources/themes/rhea/theme.css";

body{
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
}
.logo{
    width:60px;
    height:60px;
    /*border: 1px solid grey; */
    background-image: url("assets/Documents-icon60.png");
    background-size: cover;
}
td{
    font-size: 14px;
    padding:auto;
}
.table-col-date, .table-col-id{
    max-width:min-content;
    padding: auto, 10px;
}
.p-inputtext:enabled:focus{
    box-shadow: 0 0 0 0.1rem #61acd4;
    border-color:#61acd4;
}
.p-inputtext:enabled:hover {
    border-color: #61acd4;
    border-top-color: #61acd4;
    border-right-color: #61acd4;
    border-bottom-color:#61acd4;
    border-left-color: #61acd4;
}
.p-paginator{
    padding-bottom: 15px;
    padding-top: 15px;
}

