<div class="p-d-flex p-flex-wrap p-my-5 p-jc-center ">
    <span  class="p-input-icon-left ">
        <i class="pi pi-search"></i>
        <input type="text" 
                id="input-text" 
                class="p-mr-2" 
                pInputText  
                placeholder="Search"
                [(ngModel)]="textToSearch" >      
    </span>
    
    <button pButton 
            pRipple 
            type="button" 
            label="Cerca" 
            class="p-button p-button-info p-jc-middle p-mr-2">
    </button>
                        <!-- (click)="textSearch(textToSearch)"> -->
            <!-- [loading]="isLoading" -->
            <!-- da configurare -->
</div>
