<!-- header with logo, app name, list button, new button and account button -->
<div class="container-fluid">
  <app-header></app-header>
</div> 
<!-- end header -->

<!-- search field -->
<app-search-bar ></app-search-bar>
<!-- end search field (searchText)="textSearch($event)""-->

<!-- documents list -->
<app-docs-list [documentList]="documentsService.getDocumentList()"></app-docs-list>
<!-- end documents list -->

<!-- pagination -->
<app-pagination></app-pagination>
<!-- end pagination -->

<!-- footer -->
<app-footer></app-footer>
<!-- end footer -->