<div class="p-my-5 p-shadow-5" >
    <!-- documents table -->
    <p-table [value]="documentList" 
             styleClass="p-datatable-gridlines table-hover" 
             [paginator]="true" 
             [rows]="10"
             [showCurrentPageReport]="true" 
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [rowsPerPageOptions]="[10,25,50]"
             >
        <!-- DA INTEGRARE - RICERCA GLOBALE  
            [filterDelay]="0" 
            [globalFilterFields]="['name','description','tags']" -->

        <!-- TABLE HEADER CAPTION -->
        <ng-template pTemplate="caption">
            <div class="table-header">
                Elenco documenti
            </div>
        </ng-template>

        <!-- TABLE HEADER -->
        <ng-template pTemplate="header">
            <tr>
                <!-- ID COLUMN -->
                <th pSortableColumn="id" style="width: 5rem" class="p-text-center">
                    Id
                </th>

                <!-- NAME COLUMN -->
                <th pSortableColumn="name">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Nome
                        <p-sortIcon field="name"></p-sortIcon>
                        <p-columnFilter type="text" field="name" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                </th>

                <!-- DESCRIPTION COLUMN -->
                <th pSortableColumn="description">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Descrizione
                        <p-columnFilter type="text" field="description" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                </th>
                
                <!-- DATE COLUMN -->
                <th pSortableColumn="date" style="width:10rem" class="p-text-center">
                    <div  class="p-d-flex p-jc-between p-ai-center">
                        Data
                        <p-sortIcon field="date"></p-sortIcon>
                        <p-columnFilter type="date" field="date" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                </th>

                <!-- TAGS COLUMN -->
                <th pSortableColumn="tags">
                    <div class="p-d-flex p-jc-between p-ai-center">
                        Tags
                        <p-sortIcon field="tags"></p-sortIcon>
                        <p-columnFilter type="text" field="tags" display="menu" class="p-ml-auto"></p-columnFilter>
                    </div>
                </th>

                <!-- ACTIONS COLUMN -->
                <th class="p-text-center" >Azioni </th>
            </tr>
        </ng-template>
        <!-- end header section -->

        <!-- start body section -->
        <ng-template pTemplate="body"  let-document>
            <tr>
                <td class="table-col-id p-text-center">{{document.id}}</td>
                <td class="p-text-bold">{{document.name}}</td>
                <td>{{document.description}}</td>
                <td class="table-col-date p-text-center">{{formatDate(document.date)}}</td>
                <td>
                    {{document.tags.join(" - ")}}
                    <!-- <p *ngFor="let tag of document.tags">{{tag}}</p> -->
                </td>
                <td class="p-text-center">
                    <span >
                        <button class="p-button-rounded p-button-info p-mr-1" pButton type="button" pTooltip="Apri file PDF"
                            icon="pi pi-file-pdf"></button>
                        <button class="p-button-rounded p-button-info p-mr-1" pButton type="button" pTooltip="Apri file Word"
                            icon="pi pi-file-o"></button>
                        <button class="p-button-rounded p-button-info p-mr-1" pButton type="button" pTooltip="Stampa documento"
                            icon="pi pi-print"></button>
                        <button class="p-button-rounded p-button-warning p-mr-1" pButton type="button" pTooltip="Modifica documento"
                            icon="pi pi-user-edit"></button>
                        <button class="p-button-rounded p-button-danger p-mr-1" pButton type="button" pTooltip="Elimina documento"
                            icon="pi pi-trash"></button>
                    </span>
                </td>
            </tr>
        </ng-template>
        <!-- end body section -->
        
    </p-table>
</div>